@model WardrobeMVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<div style="text-align:center">
    <h4><img src="@Html.DisplayFor(model => model.BottomPhoto)" /></h4>

    <h3>@Html.DisplayFor(model => model.BottomName)</h3>

    <h5>Type: @Html.DisplayFor(model => model.BottomType)</h5>

    <h5>Color: @Html.DisplayFor(model => model.BottomColor)</h5>

    <h5>Occassion: @Html.DisplayFor(model => model.Occasion.OccasionName)</h5>

    <h5>Season: @Html.DisplayFor(model => model.Season.SeasonName)</h5>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
