@model WardrobeMVC.Models.Sho

@{
    ViewBag.Title = "Details";
}

<div style="text-align:center">
    <h4><img src="@Html.DisplayFor(model => model.ShoePhoto)" /></h4>

    <h3>@Html.DisplayFor(model => model.ShoeName)</h3>

    <h5>Type: @Html.DisplayFor(model => model.ShoeType)</h5>

    <h5>Color: @Html.DisplayFor(model => model.ShoeColor)</h5>

    <h5>Occassion: @Html.DisplayFor(model => model.Occasion.OccasionName)</h5>

    <h5>Season: @Html.DisplayFor(model => model.Season.SeasonName)</h5>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

