@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; padding-bottom:25px;">Accessories</h2>

<div class="col-sm-6 col-md-3">
    <div class="thumbnail indexThumbnail" style="padding-top:50px">
        <img src="~/Content/images/hanger.jpg" />
        <div class="caption" style="padding-top:45px">
            <h3>New Accessory</h3>
            <p>
                @Html.ActionLink("Add Accessory", "Create")
            </p>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail indexThumbnail">
            <img src="@Html.DisplayFor(modelItem => item.AccessoryPhoto)" />
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.AccessoryName)</h3>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
                </p>
            </div>
        </div>
    </div>
}